*,
::before,
::after {
    padding: 0;
    margin: 0;
    /*去掉chorm浏览器中默认点击的颜色*/
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei" sans-serif;
    background: #fafafa;
    color: #000;
}
#app {
    position: relative;
}
a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}
input,
textarea {
    border: none;
    resize: none;
    outline: none;
    /*清除移动设备中表单的默认样式*/
    -webkit-appearance: none;
}

.clearfix::before,
.clearfix::after {
    content: '.';
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

[class^='icon'] {
    /*background: url("../images/sprites.png") no-repeat;*/
    background-size: 200px 200px;
}

.top_bar {
    width: 100%;
    height: 45px;
    background: #333;
    color: #fff;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    z-index: 2;
}
.top_bar .icon_back {
    height: 20px;
    width: 20px;
    background-position: -20px 0;
    display: block;
    margin: 10px 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.top_bar .cartname {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 45px;
}
.top_bar .goods_search {
    width: 100%;
    height: 44px;
    padding-left: 40px;
    padding-right: 40px;
}
.top_bar .goods_search .goods_search_content {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    margin-top: 5px;
}
.top_bar .icon_menu {
    height: 44px;
    width: 40px;
    background-position: -60px 0;
    background-clip: content-box;
    background-origin: content-box;
    -moz-background-origin: content-box;
    -webkit-background-origin: content-box;
    display: block;
    padding: 10px 12px;
    position: absolute;
    right: 0;
    top: 0;
}


/*固定底部通栏*/
.fixBottomBox {
    width: 100%;
    height: 50px;
    box-shadow: 0 -2px 10px #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.fixBottomBox ul {
    display: flex;
    justify-content: space-around;
}
.fixBottomBox .tabItem {
    flex: 1;
    height: 100%;
    text-align: center;
}
.tabItem .tab-item-link {
    display: block;
    height: 50px;
}
.tabItem .tab-item-link i{
    display: block;
    height: 20px;
    width: 20px;
    background: #eee;
    border-radius: 50%;
    margin:5px auto 3px;
}
.tabItem .tab-item-link label{
    display: block;
    height: 20px;
    text-align: center;
}
.tabItem .tab-item-link .tab-item-icon {
    width: 100%;
    height: auto;
}

.main{
    padding-top: 45px;
    text-align: center;
}
