*{
  margin: 0;
  padding:0;
}
body {
  color: #333;
  font-size: 14px;
  line-height: 1.3
}
h1, h2 {
  font-weight: normal;
}
ul,li{
  list-style-type: none;
}
a {
  color: #42b983;
}