*{
  margin: 0;
  padding:0;
}
*, :after, :before {
    box-sizing: border-box;
}
body {
  min-width:1200px;
  background: #fafafa;
  color: #333;
  font-size: 14px;
  line-height: 1.3
}
html,body{
  width:100%;
}
h1, h2 {
  font-weight: normal;
}
ul,li{
  list-style-type: none;
}
a {
  color: #f60;
}
.wrap{
  position:relative;
  width:100%;
  height:100%;
}
.header-w{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:60px;
    background: #fff;
    border-bottom:1px solid #e0e0e0;
    box-sizing: border-box;
}
.header{
  min-width:1200px;
}
.logo{
    float:left;
    margin-left:20px;
    margin-top:10px;
    width:100px;
    height:40px;
    background: #eee;
}
.menu-wrap{
  float:left;
  width:600px;
  margin:15px 30px;
  height:30px;
  line-height: 30px;
}
.menu-wrap ul li{
  float:left;
  margin-right:30px;
  padding:0 10px;
  font-size:14px;
  color:#666;
  cursor: pointer;
}
.menu-wrap ul li a{
  color:#666;
  text-decoration: none;
}
.header-info{
  position:absolute;
  top:10px;
  right:20px;
}
.login-out{
  line-height:40px;
  font-size:12px;
  color:#666;
}
.main{
  width:100%;
  min-height:600px;
}
.footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  padding:10px;
  background: #eee;
}
.footer p{
  font-size:11px;
  color:#999;
  text-align: center;
}
.mainbox{
  margin:80px 25px 45px;
  padding:30px 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,.15)
}
.leftNav{
    position:fixed;
    z-index: 9;
    left:0;
    top:60px;
    bottom:35px;
    width:120px;
    background: #fff;
    border-right:1px solid #eee;
    box-sizing: border-box;
}
.leftNav-list{
    padding:20px 0;
}
.leftNav-list a{
  text-decoration: none;
}
.leftNav-item{
    display:block;
    height: 40px;
    line-height: 40px;
    padding:0 20px;    
    box-sizing: border-box;
    margin-bottom: 10px;
    color:#666;
    cursor: pointer;
}
.now{
    background: #fafafa;
    color:#f60;
    border-left:2px solid #f60;
}
.rightCont{
    margin: 70px 0 35px 120px;
}
.mainR-cont{
  margin:10px;
  padding:20px;
  background: #fff;
  border:1px solid #eee;
  box-sizing: border-box;
  border-radius: 3px;
  min-height: 600px;
}

.txt{
  border-left: 4px solid #f60;
  padding-left:6px;
  line-height: 16px;
  margin-bottom: 20px;
}
.mb20{
  margin-bottom:20px;
}